@model IList<ProductOverviewModel>

@{
    ViewBag.Title = "ProductsWithDiscount";
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

<h2>Products With Discount</h2>
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
<div class="category-page">          
    
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "categorydetails_before_product_list" })    

    @*product list*@
    @if (Model.Count > 0)
    {
@*grid mode*@
        <div class="product-grid">
            @(Html.DataList<ProductOverviewModel>(Model, 2,
                    @<div class="item-box">
                        @Html.Partial("_ProductBox", @item)
                    </div>
                ))
        </div>
        
    }    
    <div class="clear">
    </div> 

</div>