
<div class="block block-shipping">
    <div class="title">
        @T("Envíos")
    </div>
    <div class="clear">
    </div>
    <div class="shippingbox">
        <a href="@Url.RouteUrl("Topic", new { SystemName = "shippinginfo" })"><img src="../../Themes/Desnivell/Content/images/ship.png" /></a>
    </div>
</div>
